.esphome/
build/
*.bin
*.elf
*.map

*.bak
*.kicad_pcb-bak          
*.sch-bak
*-bak/
_autosave-*
*.kicad_prl
*.lck
*-backups/
.history/

*.erc
*.drc
*.rpt

fp-info-cache
*.net
*.xml

*.tmp
*.log
*.err
*~
*.bck
*.sblock

*.gcode
*.gcode.gz
.ipynb_checkpoints/

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

secrets.yaml
.env
*.env

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
